<footer class="footer-home">
  <small class="text-white txt-email"><strong>Subscibe to newsletter</strong></small>
  <form [formGroup]="subscribeForm" (ngSubmit)="subscribe()">
    <div class="input-group">
      <input type="text" class="form-control" formControlName="email" placeholder="email" aria-label="" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button class="btn btn-primary btn-email" type="submit">Subscribe</button>
      </div>
    </div>    
  </form>
</footer>