.footer-home{
    position:absolute;
    bottom:0;
    height:80px;
    width: 100vw;
    background-color: pink;

}

.input-group{
    width: 20%;
    margin: 5px;
}

.txt-email{
    margin: 5px;
}

.btn-email{
    background-color: palevioletred;
    border: none;
}